 /* Caracteristicas de staff html */
 @import './base/extends'; 

.fotoGrupo{    
    margin-top: 5px;
    margin-bottom: 10px;

    img{
        max-width: 100%;
        height: 100%;
        margin-top: 2px;
        @extend %bordes;
    }
}


.sectionQuienes{
    width: 90%;
    font-size: 2.5vh;
}

.quienesSomos{
    @include flex(0, center, 0);
}

.carousel{
    display: none;
}

@media screen and (max-width: 991px){   /* Media query para que no haya hover en mobile */
    .carousel{
        display: block;
    }
    .fotoGrupo{
        display: none;
    }
}