.navbar-brand{
    color: white;
    font-size: 3vh;
}

.nav-link{
    color: whitesmoke;
    font-size: 2vh;
}

main{
    margin-top: 10px;
}

.imagenesNoticias{
    display: flex;
    justify-content: center;
}

.imagenesNoticias img{
    width: 35vh;
}

.imagenesPlataformas{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.imagenesPlataformas img{
    width: 35vh;
}

.tutorial{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.fotoGrupo{
    margin-top: 5px;
    margin-bottom: 10px;
}

.fotoGrupo div img{
    max-width: 100%;
}
