
$colores: (
    "color-principal": white,
    "color-footer": rgb(48, 37, 37),
    "color-hover": rgba(0, 139, 186, 0.733)
);

@mixin flex ($wrap, $content, $items){
    display: flex;
    flex-wrap: $wrap;
    justify-content: $content;    
    align-items: $items;
}

